# ==============================
# DATASET - DO NOT UPLOAD
# ==============================

MSD_Task07_Pancreas/
Task07_Pancreas/

# Medical imaging files
*.nii
*.nii.gz

# ==============================
# PYTHON
# ==============================

__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# ==============================
# JUPYTER
# ==============================

.ipynb_checkpoints/

# ==============================
# TRAINED MODELS
# ==============================

*.pt
*.pth
*.ckpt
*.h5
*.keras

# ==============================
# EXPERIMENT OUTPUTS
# ==============================

outputs/
runs/
checkpoints/

# ==============================
# IDE
# ==============================

.vscode/
.idea/

# ==============================
# OPERATING SYSTEM
# ==============================

.DS_Store
Thumbs.db