
# ==============================
# DATASET - DO NOT UPLOAD
# ==============================

MSD_Task07_Pancreas/
Task07_Pancreas/
data/
datasets/

# Medical imaging files
*.nii
*.nii.gz
*.mha
*.mhd
*.nrrd
*.dcm

# ==============================
# PYTHON
# ==============================

__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# ==============================
# JUPYTER
# ==============================

.ipynb_checkpoints/

# ==============================
# TRAINED MODELS
# ==============================

*.pt
*.pth
*.ckpt
*.h5
*.keras
*.onnx

# ==============================
# EXPERIMENT OUTPUTS
# ==============================

outputs/
runs/
checkpoints/
wandb/
mlruns/
lightning_logs/

# Temporary and log files
*.log
*.tmp
*.temp
*.bak

# ==============================
# IDE
# ==============================

.vscode/
.idea/

# ==============================
# OPERATING SYSTEM
# ==============================

.DS_Store
Thumbs.db
desktop.ini
